{% block modalSuppVoiture %}


    <!-- Modal Suppression reparation -->
    <div class="modal fade" id="modalSuppVoiture{{ car.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="exampleModalLabel">Supprimer une voiture </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-warning">
                    Êtes vous sûr de vouloir supprimer la voiture : <br> ( {{ car.marque }} {{ car.modele }} de {{ car.client.nom }}) ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a href="{{ path('suppVoiture', {id : car.id })}}"><button type="submit" class="btn btn-primary">Supprimer !</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal suppression reparation -->

{% endblock %}